<div class="form-horizontal">

  <div class="form-group">
    <label class="col-sm-2 control-label">Name</label>
    <div class="col-sm-5">
      {{input type="text" value=item.name class="form-control" placeholder="The name of the superhero"}}
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Alter-ego</label>
    <div class="col-sm-5">
      {{input type="text" value=item.alterego class="form-control" placeholder="The alter-ego of the superhero"}}
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Universe</label>
    <div class="col-sm-5">
      {{input type="text" value=item.universe class="form-control" placeholder="Marvel or DC?"}}
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Gender</label>
    <div class="col-sm-5">
      {{input type="text" value=item.gender class="form-control" placeholder="Male or Female?"}}
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Image Link</label>
    <div class="col-sm-5">
      {{input type="text" value=item.imageurl class="form-control" placeholder="Link for hero picture"}}
    </div>
  </div>
  
</div>
